<div class="login-background">
  <div class="header">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-12 logo-box">
      <a routerLink="/profile" style="color:#fff;" routerLinkActive="active">Complaint Forum</a>
      </div>
      <div class="col-md-7 col-sm-7 col-7 hdiv" style="padding-right:0">
        <div class="" style="margin-left:-50px;margin-top:5px;">
          <button class="col-md-2 col-sm-5 col-5" *ngIf="!authService.isAuthenticated" routerLink="/register">Register</button>
          <button class="col-md-2 col-sm-5 col-5" *ngIf="!authService.isAuthenticated" routerLink="/login">Log In</button>
          <button class="col-md-2 col-sm-5 col-5" *ngIf="authService.isAuthenticated" (click)="authService.logout()" routerLink="/login">Logout</button>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <router-outlet></router-outlet>
    <ngx-loading-bar [color]="'#a4125d'" [height]="'4px'" [diameter]="'16px'" [includeSpinner]="true" [includeBar]="true"></ngx-loading-bar>
  </div>
  <div class="footer">
    <div class="row">
      <span class="col-md-12">
        Neutrinos
        <sup style="font-size:10px;">&reg;</sup> | Copyright 2018
      </span>
    </div>
  </div>
</div>
