<div class="parent">
  <div class="form_login">
    <form class="forget-container">
      <i class="fa fa-lock" aria-hidden="true" style="font-size: 80px;
        color: hsl(232, 22%, 20%);margin-bottom: 20px;"></i>
      <button type="submit" class="btn btn-primary col-md-12" style="margin-bottom:15px;">Retrieve Password</button>
      <div style="text-align:left">
        <a href="/register"  style="font-size:13px;display:block;">Create New Account?</a>
      </div>
    </form>
  </div>
</div>
