.register-container {
    width:940px;
    height: auto;
    border-radius: 20px;
    background: linear-gradient(135deg, #a4125d 0%, #b7330a 50%, #240b25 63%, #050606 100%);
    opacity: 0.8;
    margin: auto;
    text-align: center;
    padding: 20px;
  }
  @media only screen and (max-width: 600px) {
    .register-container {
      width: auto;
      height: auto;
      overflow-x:hidden;
      margin-top:30px;
    }
    .row .nomargin{
        margin-bottom:10px;
    }
    .form-group{
        margin-bottom:0;
    }
  }
  .parent {
      display: table;
      height:100%;
      margin:0 auto;
   }
   .form_register {
      display: table-cell;
      vertical-align: middle;
   }
   .red{
    border: 4px solid red;
   }
   